/* Global */
html {
  font-family: monospace;
  color: #003a70;
}
body {
  background: #ffcb05;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
h2 {
  color: #003a70;
  padding: 5px 10px;
  background: #ffcb05;
  border: 3px solid #3671b9;
  margin: 10px 0 0;
  box-shadow: -3px 3px 0px #003a70;
}
.hidden {
  display: none;
}

/* Header */
header {
  background: #3d7dca;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  padding: 20px 0;
  align-items: center;
}
.logo-image img {
  max-width: 200px;
}

/* Form */
form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 25px;
}
input[type="text"] {
  width: 100%;
  margin: 15px 0 0;
  box-sizing: border-box;
  outline: none;
  border: 3px solid #3d7dca;
  font-size: 18px;
  font-weight: 600;
  background-color: white;
  transform: translate(4px, -4px);
  box-shadow: -4px 4px 0 #003a70;
  padding: 12px 20px;
  transition: 0.2s ease-in-out;
}
input[type="text"]:focus {
  transform: translate(-2px, 2px);
  /* border-radius: 30px; */
  color: black;
  border-color: black;
  background-color: white;
  box-shadow: 0 0 0 #ffcb05;
}
input::placeholder {
  color: #003a70;
  font-weight: 600;
}

/* Srollbar */
/* width */
::-webkit-scrollbar {
  width: 25px;
  height: 25px;
  margin: 15px;
}
/* Track */
::-webkit-scrollbar-track {
  border: 4px solid #ffcb05;
  border-radius: 10px;
  background: black;
  margin: 15px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffcb05;
  border: 3px solid black;
  transition: 0.4s ease-in-out;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
  border-radius: 15px;
  cursor: grab;
  cursor: -o-grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* Results */
.results-header {
  margin: 0 25px;
}
.cards-wrapper {
  padding: 0 25px 5px;
  margin: 0;
  min-height: 433px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  will-change: transform;
  user-select: none;
  transition: all 0.2s ease-in-out;
  cursor: grab;
  cursor: -o-grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.card-wrapper.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
.card-card {
  margin: 10px 5px;
  padding: 15px 0 0;
  background: #3d7dca;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.1s ease-in-out;
  box-shadow: -4px 4px 0px #003a70;
}
.card-card:hover {
  transform:translate(3px, -5px);
  z-index: 10;
  box-shadow: -10px 12px 3px #003a70;
}
.card-card h3 {
  margin: 0;
  color: white;
}
.card-card p {
  text-align: center;
  padding: 5px 0;
  margin: 10px 0 7.5px;
  border-radius: 5px;
  width: 90%;
  color: #ffcb05;
  background: #003a70;
}
.card-image img {
  height: 300px;
  margin: 10px auto 0;
}
